.about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;    
}

.hero-img {
  background-image: url('https://swch.io/assets/5683bd297b71515cd31b31d912e072b7.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;    
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.splash-image {    
  height: 100vh;  
}

.hero-img-items {    
  color: #FFF;
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;  
  flex: 0 1 100%;  
  align-items: center;
  justify-content: flex-start;  
}

.icon-column {    
  margin: 1%;
  flex-wrap:wrap;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-column > svg {
  height: 10vh;
  width: 80%;  
}

.login-page {        
  display: flex;  
    
}

.container > h1 {
  color: #2196F3;
}

.display-4 {
  color: white;
  font-size: x-large;
  text-align:center;  
}

.hero-img-icon > svg {  
  height: 100px;
  width: 70%;  
}

.icon-saying {
  display: flex;  
  margin-left: 4%;
  margin-bottom: 5%;
  justify-content: center;
  flex-wrap: wrap;  
  width: 90vw;  
  height: 75vh;
}

.hero-img-text {
  display: flex;
  flex-direction: column;  
}



.hero-icon-column {
  display: flex;  
  max-width: 400px;  
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3%;
}


.hero-img-heading {
  font-size: 300%;
}

.hero-img-bottom {
  position: absolute;
  bottom: 0;
}

.hero-img-banner {
  background-color: #2196F3;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 1%;
  margin-bottom: 1%;  
  padding-right: .5%;
  max-width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-img2 > h2 {
  font-size: 4vw;
  font-size: 16px; 

}


.hero-img3 {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #96f321;
  color: black;
  font-size: 1.0vw;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: .5%;  
  padding-right: .5%;
  text-align: center;
}

.hero-img-action {
  background-color: #f37e21;
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: .5%;
  padding-right: .5%;
  text-align: center;
}


.app-explain {
  text-align: center;
  font-size: xx-large
}



ul {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  margin: 3%;
}

.lead {
  width: 250px;
  font-size: x-large;
  margin-top: 3%;
  text-align:center;
}

.gif-accent {
  display: flex;  
  justify-content: center;
  background-color: black;
  padding: 2%;
}

.resume-work {
  list-style: none !important;

}


.hero-img-icon {
  height: auto; 
  width: auto; 
  max-width: 500px; 
  max-height: 200px;
  margin-right: 10%
}



/*h1 { font-family: "Raleway", sans-serif; font-size: 3em; line-height: .9; font-weight: 900; letter-spacing: -.025em; text-transform: uppercase; margin-bottom: .5em; }
h1 + p { font-family: "Shadows Into Light Two", cursive; font-size: 1.5em;  }*/
