.container {
  height: 85vh;
  width: 85vw;
}

.container > h1 {
  color: #2196F3;
}

.icon-saying {
  display: flex;  
  margin-left: 15%;
  flex-wrap: wrap;  
  width: 90vw;  
  height: 65vh;
}

.hero-img-text {
  display: flex;
  flex-direction: column;
}

.icon-column {
  margin: 2%;  ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.feature-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin: 3%;
}

.feature-single {  
  display: flex;
  max-width: 25%;
  margin: 3%;
  padding: 1%;
  font-size: 1.05vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-color: #d3d3d3;
  border-style: solid;
  border-width: thin;
}

.hero-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('images/switches.jpg');
  color: white;  
}

.hero-img-items {
  height: 75vh;
  width: 100vw;
  display: flex;
  flex-direction: column;  
  position: relative;
  justify-content: space-between;
}

.hero-img-heading {
  font-size: 350%;
}

.hero-img-bottom {
  position: absolute;
  bottom: 0;
}

.hero-img2 {
  background-color: #2196F3;
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 1%;
  margin-bottom: 1%;  
  padding-right: .5%;
  text-align: center;
  
}

.hero-img3 {  
  background-color: #96f321;
  color: black;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: .5%;
  padding-right: .5%;
  text-align: center;
}

.hero-img-action {
  background-color: #f37e21;
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: .5%;
  padding-right: .5%;
  text-align: center;
}

.display-4 {
  color: white;  
}

.app-explain {
  text-align: center;
  font-size: xx-large
}

img {
  height: auto; 
  width: auto; 
  max-width: 400px; 
  max-height: 200px;
  margin-right: 10%
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  margin: 3%;

}
.lead {
  width: 250px;
  font-size: x-large;
  margin-top: 3%;
  text-align:center;
}

.gif-accent {
  display: flex;  
  justify-content: center;
  background-color: black;
  padding: 2%;
}

.resume-work {
  list-style: none !important;

}

svg {
  height: 40%;
  width: 50%;  
}