.dashboard {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 90%;
}

/*.Collapsible {    
  display: flex;
  flex-direction: column;
  padding: 1%;  

}

.Collapsible > a {
  font-size: 250%;
  background-color: black;
  display: block;  
  padding-left: 2%;
  
}

.Collapsible > a:hover {
  background-color: silver;
  color: black;

}*/

.filters {
  display: flex;
  justify-content: space-around;
  margin: 1%;  

}

.filters > a {
  font-size: x-large;    
}

.filters > span {
  font-size: x-large;

}

.two-columns {
  display: flex;  

}

.right-column {  
  width: 80%;
}
