@value font-medium from '../settings.css';
@value color-salem, color-dodger-blue, color-punch from '../common/colors.css';

.job-item {
  display: flex;
  justify-content: space-between;
  background-color: white;  

}

.job {
  composes: flexNotMoreThan200 from '../common/layout';
  font-size: 130%;
  flex: 0 0 70%;
}

.job-row {
  width: 100%;  
}

.circle {
  display: flex;
  justify-content: space-between;  
  flex: 0 0 15%;
}
