@value global-radius from '../settings.css';

.main-section {
  composes: card from '../common/card';
  width: 50%;
  border-radius: global-radius;
  align-self: center;
  margin-top: 30px;  
}

.header {
  composes: title from '../common/card';
  composes: subheading from '../common/typography';
  background: black;
  color: #fff;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
  padding: 16px;    
}

