@value global-radius from '../settings.css';

.main-section {
  composes: card from '../common/card';
  width: 65%;
  border-radius: global-radius;  
  margin: 3%;
  align-self: center;
  padding: 15px 10px 15px 10px;  
  background-color: #e9eaec;
}

.header {
  composes: title from '../common/card';
  composes: subheading from '../common/typography';
  background: black;
  color: #fff;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.header-company { 
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
}

.header-top {
  background-color: #2196F3;
  padding: 2%;
  

}

