.info {
  display: flex;
  padding: 1%;
  height: 100vh;
  flex-direction: column;
  background-color: #e9eaec;
  align-items: center;
  width: 20%;
}

.picture {
  width: 300px;
  height: auto;
}

table {
  width: 100%;
  height: 20vh;
  border-width: thin;
  background-color: white;  
}

h3 {
  margin: 10%;
}

