.slide {
 height: 100vh;
 display: flex;
 flex-direction: column; 
}

.tech-container {
  display: flex;    
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.tech-container > img {      
  margin: 2%;
  max-height: 10vh;
  max-width: auto;     
}

.describe > img {      
  max-height: 150px;
  max-width: 150px;     
}

.meta-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;  
}

.describe {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}