@value font-medium from '../settings.css';

.contact-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #FEFEF2;
  width: 25vw;
  margin: 10px 0 10px 0;
  padding: 10px 5px 10px 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 5px 5px 3px grey;
}
