@value font-medium from '../settings.css';
@value color-salem, color-dodger-blue, color-punch from '../common/colors.css';

.topic-item {
  display: flex;
  justify-content: space-between;

}

.topic {
  composes: flexNotMoreThan200 from '../common/layout';
  font-size: font-medium;  
  flex: 0 0 70%;
}

.circle {
  display: flex;
  justify-content: space-between;  
  flex: 0 0 15%;
}
